<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Announcements</li>
</ol>
<% @announcements.each do |announcement| %>
    <h4><%= link_to announcement.title, announcement %></h4>
    <p><%= raw announcement.content.truncate(250) %></p>
    <p><%= link_to 'Details', announcement, class: 'btn btn-sm btn-primary pull-right' %></p>
    <br/>
    <hr>
<% end %>
<%= paginate @announcements %>
