<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Blog</li>
</ol>
<p><%= @blog_home %></p>
<% @articles.each do |article| %>
    <h4><%= link_to_unless_current article.title, article %></h4>
    <p>
      <%= raw article.body.truncate(225) %>
    </p>
    <p><small><%= time_ago_in_words(article.created_at) %> ago</small></p>
    <p><%= link_to 'Read more', article, class: 'btn btn-sm btn-primary' %></p>

    <hr>
<% end %>
<%= paginate @articles %>