<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Prayer Requests</li>
</ol>

<% @prayer_requests.each do |prayer_request| %>
    <h4><%= link_to prayer_request.title, prayer_request %> <span class="small"><%= time_ago_in_words prayer_request.created_at %> ago</span></h4>
    <p><%= prayer_request.content %></p>
    <hr>
<% end %>



<%= link_to 'New Prayer request', new_prayer_request_path %>
