<h1>Listing prayer_requests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prayer_requests.each do |prayer_request| %>
  <tr>
    <td><%= prayer_request.title %></td>
    <td><%= prayer_request.content %></td>
    <td><%= prayer_request.approved %></td>
    <td><%= link_to 'Show', prayer_request %></td>
    <td><%= link_to 'Edit', edit_prayer_request_path(prayer_request) %></td>
    <td><%= link_to 'Destroy', prayer_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prayer request', new_prayer_request_path %>
