<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Prayer Requests</li>
</ol>
<p><%= @prayer_home %></p>
<p><%= link_to 'Submit your prayer request', new_prayer_request_path, class: 'btn btn-primary' %></p><br/>
<% @prayer_requests.each do |prayer_request| %>
    <h4><%= link_to prayer_request.title, prayer_request %></h4>
    <p class="small"><i>Submitted <%= time_ago_in_words(prayer_request.created_at) %> ago</i></p>
    <p><%= prayer_request.content.truncate(200).html_safe %></p>
    <p><%= link_to 'Read more', prayer_request, class: 'btn btn-sm btn-primary' %></p>
    <hr>
<% end %>




