<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Videos</li>
</ol>
<% @videos.each do |video| %>
    <h4><%= link_to video.title, video %></h4>
    <p>
      <%= raw video.description.truncate(225) %>
    </p>
    <p><small><%= time_ago_in_words(video.created_at) %> ago</small></p>
    <hr>
<% end %>
<%= paginate @videos %>
