<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Videos</li>
</ol>
<% @videos.each do |video| %>
    <h4><%= link_to video.title, video %></h4>
    <p>
      <%= raw video.description.truncate(225) %>
    </p>
    <p><%= link_to 'Watch this video', video_path(video), class: 'btn btn-primary' %></p>
    <hr>
<% end %>
<%= paginate @videos %>
