<div class="promo-container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <h3><i class="fa fa-home"></i> <%= @about_sopf_title %></h3>
      <p><%= @about_sopf %></p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h3><i class="fa fa-users"></i> <%= @visitors_title %></h3>
      <p><%= @visitors %></p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h3><i class="fa fa-clock-o"></i> <%= @service_time_title %></h3>
      <p><%= @service_time %></p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h3><i class="fa fa-map-marker"></i> <%= @location_title %></h3>
      <p><%= @location %></p>
    </div>
  </div>

</div>