<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active">Photos</li>
</ol>
<p><%= @photos_home %></p><br/>
<table width="100%" class="table table-bordered">
  <% @photos.each do |photo| %>
      <% if photo.photo_image.url(:thumb) %>
          <tr>
            <td width="20%" valign="top"><%= link_to(image_tag(photo.photo_image.url(:thumb), class: 'thumbnail'), photo) %></td>
            <td width="80%" valign="top"><%= link_to photo.title, photo %>
              <p><%= photo.description.truncate(200).html_safe %></p></td>
          </tr>
      <% else %>
      <% end %>
  <% end %>
</table>
<%= paginate @photos %>